In [1]:
#                 BASIC PYTHON ASSIGNMENTS
#                                  ASIIGNMENT 01

In [3]:
#Q1 
values are : "hello", 87.8,6
expressions are: *,/,+6

In [ ]:
Q2:
Variable are used to store data as like empty box while string is a type of data use to fill variable

In [ ]:
Q3: three different data types are:
    A) STRING = "RAM","RAVI" ( any name except keywords)
    B) INTEGER= 34,78 ( any integer)
    C) FLOATS= 7.31 (Number containing decimals)

In [ ]:
Q4 :
    expression is combination of operations and operands that is interpreted to use produce some other values
    they aree used to produce some other values
    eg:- A+B-5

In [ ]:
Q5 : 
    expression used tp give some value by using operation and operands eg: 3+4-5= 2
    but spam = 10 is a statement as it can not give any specific value

In [23]:
Q6
bacon = 21
print(bacon+4)

25

In [24]:
print(bacon)

21

In [ ]:
answer 6) bacon will always conatin its original value

In [30]:
Q7
'spam'+ 'spamspam'

'spamspamspam'

In [28]:
'spam'*3

'spamspamspam'

In [ ]:
Q8:
    beacuse varaible can be start with any name but not by any integer so thats why "eggs" can be variablename but
    100 not

In [ ]:
Q9:
    the int(), float(), str() these 3 function can be used to execute string, integer, and float value

In [31]:
Q10
' i have eaten ' + 99 +' burriots'

TypeError: can only concatenate str (not "int") to str

In [ ]:
as we have seen string can be added with  string only and integer with integer to solve this issue what we can do is
 change 99 to "ninetynine" noow this is stringand can be used